<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MTcoreImageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CBFA494A1D2B442F0056C850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBFA49631D2B44300056C850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CBFA496E1D2B44300056C850</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
